/* font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */
body {
    font-family: 'Poppins', sans-serif;
    margin: 2% 5%;
}

.flex-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin-bottom: 5%;
}

.half-width img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    border-left: 4px solid #FF5959;
    padding-left: 13px;
}

p {
    color: #3E3E3E;
    padding: 10px 0;
}

.midnight-color {
    color: #13103A;
}

.orange-color {
    color: #FFAD5A;
}

.link-button {
    text-decoration: none;
    color: white;
    font-size: 18;
    font-weight: 500;
    background: #FF5959;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
}

h2 {
    font-size: 48px;
    text-align: center;
}

.triple-card {
    display: flex;
}

.triple-width {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 7%;
}

.triple-width img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

#mission-card {
    background: #4F9DA61A;
    border-radius: 15px;
    padding: 15px;
}

#vision-card {
    background: #FF59591A;
    border-radius: 15px;
    padding: 15px;
}

#goal-card {
    background: #FFF4D6;
    border-radius: 15px;
    padding: 15px;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

footer {
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
}

.footer-line {
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
}